<h2>Friends</h2>
<h3>Forgot Password</h3>
 
 <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

   <div>
    <label for="password">
       Password
    </label>
    <input id="password" type="password" formControlName="password">
  </div>
  <div>
    <label for="passwordConfirm">
       Password (again)
    </label>
    <input id="passwordConfirm" type="password" formControlName="passwordConfirm">
  </div>

   <button class="button" type="submit">RESET PASSWORD</button>
 
 </form>
 <button (click)="goToLogin()">Back to Login</button>

 <div>
 {{errorMessage}}
 </div>

